* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root {
    --color-black: #000000;
    --color-primary: #f0739f;
    --color-secondary: #ebaabd;
    --color-dark: #F53377 ;
    --color-white: #ffffff;
}
body {
    font-family: 'Copse', serif; 
    height: 100vw;
    width: 100vw;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Madimi One', cursive; 
}

.container-header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .hamburger-menu{
  display: none;
}
.navbar{

    width: 100vw;
    display: flex;
    height: 10vw;
    justify-content: space-around;
    align-items: center;
}

.links{
    width:50%;
    display: flex;
    justify-content: center;
}
.navbar .links img{
    width: 3rem;
    height: 3rem;
    
}
.navbar ul{
    color: var(--color-black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;align-items: center;
    width: 100%;
    
}
.navbar ul li a{
    color: var(--color-black);
}
#home-btn{
    color: var(--color-black);
    align-items: center;
    justify-content: center ;
    display: flex;
    width: 60px;
    height: 30px;
}

#logo{
    height: 50px;
    width: 50px;
    color: var(--color-secondary);
  
}
#logo:hover{
 transform: scale(1.2);
 transition: all 200ms ease-out;
}
.confete{
    position: absolute;
   z-index: 3;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
main section{
    width: 50%;
    height: 100vh;
}
.typewritter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    
   
}
.typewritter .container{
    width: 100%;
    height: 100%;
}
.container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.typewritter h1{
    color: var(--color-black);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}
.objetos{   
    display: flex;
    justify-content: center;
   
}


.section-bottom-tittle{
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    
    
}

.section-bottom{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: center; 
    
}

.section-bottom p{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
    width: 50%;
}

#obj2{
    left: 37.8%;
    top: 30%;
    z-index: -1;
    position: absolute;
    width: 280px;
    height: 3%;
    background-color: var(--color-dark);
}

#see-more{
    border: none;
    position: relative;
    width: 200px;
    height: 80px;
    background-color: var(--color-white);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#see-more::before{
    content: "";
    position: absolute;
    width: 22%;
    height: 200px;
    background: linear-gradient(180deg, var(--color-dark), var(--color-dark));

    animation: animate 3s linear infinite;
}

@keyframes animate{
    
    100%{
        transform: rotate(360deg);
    }

}

#see-more::after{
    content: "";
    position: absolute;
    background-color: var(--color-white);
    inset: 5px;
    border-radius: inherit;
}

#see-morebefore {
    background: linear-gradient(180deg, var(--color-dark), var(--color-secondary)); 
}

#see-more:hover {
    background-color: var(--color-secondary); 
}



#see-more a h2{
    position: relative;
    color: var(--color-black);
    z-index: 1;
    width: 100px;

} 

.imagem-section{
    display: flex;
    position: relative;
    width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.coluna1{
  width: 70%;
}

.coluna2{
  width: 30%;
}

#confete1 {
  position: absolute;
  margin-right: 50%;
  z-index: 2;
  width: 120px;
  
}

#confete3{
position: absolute;
margin: 300px;
z-index: 3;
width: 20%;
height: auto;
}


#confete2{
position: absolute;
left: 56%;
top: -9%;
z-index: 3;
width: 13%;
height: auto;
}
#confete4{
position: absolute;
left: -6%;
top: 60%;
z-index: 3;
width: 20%;
height: auto;
}
/* aplicar para todas  */
#person1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 80px 200px 0 0 ;
  width: 30%;
  height: auto;
  z-index: 1;
  min-width: 210px;
  min-height: 210px;
}
.sob-obj{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    z-index: 2;
}
.sob-obj3 {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 50%;
}
#subObj3-1 {
  opacity: 0.5;
  background-color: var(--color-primary);
  margin: 80px 200px 0 0;
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 200px;
}
#subObj3-2 {
    background-color: var(--color-primary);
    margin: 20px 0px 0px 0px;
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 260px;
}
#subObj3-3 {
  background-color: var(--color-primary);
  margin: 20px 200px 0 0;
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 60px;
}

/* aplicar para todas */

#person2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 448px;
  height: auto;
  z-index: 1;
  
}


.sob-obj4{
  width: 100%;
  height: 50%;
}
#subObj4-1 {
  opacity: 0.5;
  background-color: var(--color-primary);
  margin: 211px 0 0 400px;
  z-index: 2;
  position: absolute;
  width: 48px;
  height: 104px;
}

#subObj4-2 {
  background-color: var(--color-primary);
  margin: 315px 0 0 400px;
  z-index: 1;
  position: absolute;
  width: 48px;
  height: 68px;
}

#subObj4-3{
    background-color: var(--color-primary);
    margin: 211px 0 0 447px;
    z-index: 2;
    position: absolute;
    width: 20%; 
    /* trocar todos px de tamanho para porcentagem  */
    height: 172px;
}

#person3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 350px 0px 0 0;
  width: 200px;
  min-width: 100px;
  height: auto;
  z-index: 1;
  
}

.sob-obj5{
  width: 100%;
  height: 100%;
}
#subObj5-1 {
  opacity: 0.5;
  background-color: var(--color-primary);
  margin: 350px 0 0 50px;
  z-index: 2;
  position: absolute;
  width: 150px;
  height: 150px;
}

#subObj5-2{
    background-color: var(--color-primary);
    margin: 300px 20% 0 50px;
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 50px;
}

#subObj5-3{
    
    background-color: var(--color-primary);
    margin: 300px 15% 0 200px;
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 200px;
}

#star1{
    position: absolute;
    left: 4%;
    top:-140px;
    z-index: 3;
    width: 2%;
    height: auto;
}
#star2{
    position: absolute;
    left: 6%;
    top: -150px;
    z-index: 3;
    width: 2.3%;
    height: auto;
}

#star3{
    position: absolute;
    left: 9%;
    top: -80px;
    z-index: 3;
    width: 2%;
    height: auto;
}

#star4{
    position: absolute;
    left: 75%;
    top: -200px;
    z-index: 3;
    width: 2%;
    height: auto;
}
#star5{
    position: absolute;
    left: 76.8%;
    top: -250px;
    z-index: 3;
    width: 2%;
    height: auto;
}

#star6{
    position: absolute;
    left: 85%;
    top: -280px;
    z-index: 3;
    width:2%;
    height: auto;
}

#star7{
    position: absolute;
    left: 90%;
    top: -300px;
    z-index: 3;
    width: 2.4%;
    height: auto;
}

#star8{
    position: absolute;
    left: 87%;
    top: -300px;
    z-index: 3;
    width: 2.5%;
    height: auto;
}

li a {
    color: var(--color-black); 
    position: relative; 
    text-decoration: none; 
}

li a::after {
    content: ''; /* Adiciona conteúdo ao pseudo-elemento */
    position: absolute; /* Define a posição absoluta do sublinhado */
    bottom: 0; /* Alinha o sublinhado na parte inferior */
    left: 0; /* Alinha o sublinhado à esquerda */
    width: 100%; /* Define a largura do sublinhado como 100% do link */
    height: 2px; /* Define a altura do sublinhado */
    background-color: var(--color-primary); /* Cor do sublinhado */
    transition: width 0.3s ease; /* Adiciona uma transição suave para a largura do sublinhado */
}

li a:hover::after {
    width: 50%; /* Altera a largura do sublinhado ao passar o mouse */
}

 

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
ul{
  display: flex;
  justify-content: center;
  
  list-style-type: none;
}
#navbar{
  width: 100%; /* Ocupa toda a largura da janela */
  background:none; /* Cor de fundo do menu */

}
#logozin{
  width: 50px;
  height: 50px
}
 main span{
  border-radius: 10px;
  background-color: var(--color-dark);
}

/* menu hamburguer */

.menu-burguer{
  display: none;
}

@media screen and (max-width: 1700px) {
 main{display: flex;
  flex-direction: column;
  height: 130vh;
 
 }
 .typewritter{
  width: 100%;
 }
 .imagem-section{
  width: 100%;
  height: 100%;
 }

 #confete2 {
  left: 90%;
  width: 10%;
  top: -80%;
  
}

#star1{
  left: 2%;
  top: -100px;
}

#star2{
  left: 4%;
  top: -110px;
}

#star3{
  left: 7%;
  top: -40px;
}

#star4{
  left: 75%;
  top: 20px;
  z-index: -1;
}

#star5{
  left: 71.8%;
  top: -90px;
  z-index: -1;
}

#star6{
  left: 80%;
  top: -100px;
}

#star7{
  left: 85%;
  top: -50px;
  z-index: -1;
}

#star8{
  left: 82%;
  top: -30px;
  z-index: -1;
}

}

@media  screen and (max-width: 800px) {
  .coluna2{
    display: none;
  }
  .coluna1{
    width: 100%;
  }

  #confete1{
    margin-right: 70%;
  }
  .sob-obj5{
    display: none;
  }
  .links{
    display: none;
  }

  .navbar .hamburger-menu{
    display: block;
  }
  .menu-icon,
.close-icon {
    cursor: pointer;
    display: none;
}



.show {
    display: block !important;
}

}

@media  screen and (max-width:635px){
  .sob-obj4{
    display: none;
  }
}