* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root {
    --color-black: #000000;
    --color-primary: #f0739f;
    --color-secondary: #F53377;
    --color-dark: #ebaabd ;
}
body {
    font-family: 'Copse', serif; 
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Madimi One', cursive; 
}

.container-header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{

    width: 100vw;
    display: flex;
    height: 10vw;
    justify-content: space-around;
    align-items: center;
}

.links{
    width:50%;
    display: flex;
    justify-content: center;
}
.navbar .links img{
    width: 3rem;
    height: 3rem;
    
}
.navbar ul{
    color: var(--color-black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.navbar ul li a{
    color: var(--color-black);
}
#home-btn{
    color: var(--color-black);
    align-items: center;
    justify-content: center ;
    display: flex;
    width: 60px;
    height: 30px;
    background-color: var(--color-secondary);
}

#logo{
    height: 3.3rem;
    width: auto;
    color: var(--color-secondary);
  
}
.confete{
    position: absolute;
    display: none;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
main section{
    width: 50%;
    height: 100vh;
}
.typewritter{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.typewritter .container{
    width: 100%;
    height: 100%;
}
.container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.typewritter h1{
    color: var(--color-black);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    width: 70%;
}
.objetos{   
    display: flex;
    justify-content: center;
   
}

#obj1{
    top: 51%;
    left: 10%;
    z-index: -1;    
    position: absolute;
    display: flex;
    width: 30%;
    height: 3%;
    background-color: var(--color-secondary);
}

.section-bottom{
    display: flex;
    justify-content: center;
   
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
}
